* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 40px 0 40px 72px;
}

a:hover {
    font-weight: 700;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #C4C4CC;
}


nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

body {
    background-image: url('imgs/mountains-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.container {
    display: grid;
    min-height: 50vh;
}

main {

    display: grid;
    align-self: center;
    justify-items: center;


}

main button {
    margin-top: 20px;
    width: 195px;
    height: 48px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 0;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    cursor: pointer;

}

main button:hover {

    color: #02799D;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}




h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #E1E1E6;
}


p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

    color: #E1E1E6;
}

.page{
    margin-left: 102px;
    margin-top: 63px;
}

.page p{
    width: 648px;
    margin-top: 16px;
}